/* CSS used to style the Navigation Component */

.navbar {
  font-size: 20px;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 10px rgb(17, 17, 17);
  text-align: left;
  display: inline-block;
  background-color: rgba(32, 32, 32, 0.322);
}

.navbar .nav-link {
  width: 200px;
  padding-top: 17px;
  font-size: 25px;
  font-weight: 700;
}
